Repository SouJunior/vagas-frontend, pull requests merged in 2023-07, with the labels that each got.

#206 Validação de formulários e ajustes - #192
  src/assets/imgs/vertical-menu.svg
  src/components/InputWrapper.tsx
  src/components/LoginCard/PopUpRegisterSuccess/styles.ts
  src/components/Portal/Header/index.tsx
  src/components/Portal/Header/styles.ts
  src/components/Portal/Menu/index.tsx
  src/components/Portal/Menu/styles.ts
  src/components/Portal/ProfileModal/CancelModal/index.tsx
  src/components/Portal/ProfileModal/CancelModal/styles.ts
  src/components/Portal/ProfileModal/ConfirmModal/index.tsx
  src/components/Portal/ProfileModal/ConfirmModal/styles.ts
  src/components/Select.tsx
  src/contexts/Auth/AuthProvider.tsx
  src/contexts/Auth/RequireAuth.tsx
  src/hooks/useApi.ts
  src/pages/ProfileSettings/data/companyType.ts
  src/pages/ProfileSettings/data/inputSettings.ts
  src/pages/ProfileSettings/data/location.ts
  src/pages/ProfileSettings/index.tsx
  src/pages/ProfileSettings/style.ts
  src/pages/ProfileSettings/utils/handleImgFile.ts
  src/pages/ProfileSettings/utils/handleInputsRender.tsx
  src/pages/ProfileSettings/utils/handleOptionsRender.tsx
  src/pages/ProfileSettings/utils/handleSubimitForm.ts
Labels: feature, improvement, code fix

#210 Feature/application
  package-lock.json
  package.json
  src/assets/imgs/arrowDown.svg
  src/assets/imgs/choose-pdf.svg
  src/assets/imgs/feedjobs-bg.svg
  src/assets/imgs/logo.svg
  src/components/ApplyJob/ChooseResume/index.tsx
  src/components/ApplyJob/ChooseResume/styles.ts
  src/components/ApplyJob/JobApplyDetails/index.tsx
  src/components/ApplyJob/JobApplyDetails/styles.ts
  src/components/ApplyJob/Modal/index.tsx
  src/components/ApplyJob/Modal/styles.ts
  src/components/FeedVagas/FeedSearch/index.tsx
  src/components/FeedVagas/FeedSearch/styles.ts
  src/components/FeedVagas/JobCardItem/index.tsx
  src/components/FeedVagas/JobCardItem/styles.ts
  src/components/FeedVagas/JobDetails/CompanyLogo.tsx
  src/components/FeedVagas/JobDetails/index.tsx
  src/components/FeedVagas/JobDetails/styles.ts
  src/components/FeedVagas/QuickFilter/index.tsx
  src/components/FeedVagas/QuickFilter/styles.ts
  src/components/Home/HomeHeader/index.tsx
  src/components/Home/HomeJobFilter/HomeJobFilter.tsx
  src/components/JobFilter/index.tsx
  src/components/JobFilter/styles.ts
  src/components/Portal/Search/index.tsx
  src/components/styles/Container.styled.ts
  src/hooks/useApi.ts
  src/index.tsx
  src/pages/ApplyJob.tsx
  src/pages/FeedJobs.tsx
  src/pages/FeedVagas.tsx
  src/pages/Home.tsx
  src/pages/styles/ApplyJobs.styles.ts
  src/pages/styles/FeedVagasStyles.ts
  src/routes/index.tsx
  yarn.lock
Labels: feature, improvement, squad cereal killers - vagas

#213 Feature/application
  src/@types/jobs.ts
  src/Mocks/MockInfoModal.tsx
  src/Mocks/MockJourneyCard.tsx
  src/components/ApplyJob/JobApplyDetails/index.tsx
  src/components/FeedVagas/JobCardItem/index.tsx
  src/components/FeedVagas/JobCardItem/styles.ts
  src/components/FeedVagas/JobDetails/jobDetailsSkeleton.tsx
  src/components/Home/JourneySection/JourneyCard.tsx
  src/components/Home/JourneySection/styles.ts
  src/components/Home/TechnologyArea/TechnologyAreaCard.tsx
  src/components/Home/TechnologyArea/styles.ts
  src/components/JobCard/index.tsx
  src/components/JobCard/styles.ts
  src/components/JobDetails/CompanyLogo.tsx
  src/components/JobDetails/index.tsx
  src/components/JobDetails/styles.ts
  src/components/NoJobSelectedCard/index.tsx
  src/components/NoJobSelectedCard/styles.ts
  src/components/PreviewAddJobs/index.tsx
  src/components/PreviewAddJobs/styles.ts
  src/components/QuickFilter/index.tsx
  src/components/QuickFilter/styles.ts
  src/pages/AddJobs.tsx
  src/pages/FeedJobs.tsx
  src/pages/Home.tsx
  src/pages/InsertJobs.tsx
  src/pages/styles/FeedVagasStyles.ts
  src/pages/styles/Home.styles.ts
Labels: feature, improvement, squad cereal killers - vagas

#221 Feature/application
  src/components/Applicant/index.tsx
  src/components/Applicant/styles.ts
  src/components/ApplyJob/ChooseResume/styles.ts
  src/components/ApplyJob/JobApplyDetails/index.tsx
  src/components/JobCard/styles.ts
  src/components/JobDetails/index.tsx
  src/components/NoJobSelectedCard/styles.ts
  src/hooks/useApi.ts
  src/pages/CompanyApplications.tsx
  src/pages/FeedJobs.tsx
  src/pages/styles/ApplyJobs.styles.ts
  src/pages/styles/CompanyApplicationsStyles.ts
  src/pages/styles/FeedVagasStyles.ts
  src/routes/index.tsx
Labels: feature, frontend, squad cereal killers - vagas

#222 Feature/application
  src/components/ApplyJob/Modal/index.tsx
  src/components/ApplyJob/Modal/styles.ts
  src/hooks/useApi.ts
  src/pages/ApplyJob.tsx
  src/pages/Home.tsx
  src/pages/styles/ApplyJobs.styles.ts
  src/pages/styles/Home.styles.ts
  src/routes/index.tsx
Labels: feature, frontend, squad cereal killers - vagas
