Repository SouJunior/vagas-frontend, pull requests merged in 2023-04, with the labels that each got.

#120 [Candidato]-[FeedVagas] - Perfil do candidato
  package.json
  src/@types/jobs.ts
  src/components/FeedVagas/FeedHeader/index.tsx
  src/components/FeedVagas/FeedHeader/styles.ts
  src/components/FeedVagas/FeedProfile/ActiveProfile.tsx
  src/components/FeedVagas/FeedProfile/index.tsx
  src/components/FeedVagas/FeedProfile/styles.ts
  src/components/FeedVagas/FeedSearch/index.tsx
  src/components/FeedVagas/FeedSearch/styles.ts
  src/components/FeedVagas/JobDetails/index.tsx
  src/components/FeedVagas/JobDetails/jobDetailsSkeleton.tsx
  src/components/FeedVagas/JobDetails/styles.ts
  src/components/FeedVagas/VagasCard/index.tsx
  src/components/FeedVagas/VagasCard/styles.ts
  src/hooks/useApi.ts
  src/pages/FeedVagas.tsx
  src/pages/styles/feedvagasStyles.ts
  yarn.lock
Labels: feature, frontend, squad cereal killers - vagas

#142 Pop-up de cadastro concluído - #134
  src/assets/imgs/popup-cadastro-close.svg
  src/assets/imgs/popup-cadastro-concluido.svg
  src/components/LoginCard/CompanyForms/index.tsx
  src/components/LoginCard/PopUpRegisterSuccess/index.tsx
  src/components/LoginCard/PopUpRegisterSuccess/styles.ts
  src/components/LoginCard/UserForms/index.tsx
  src/components/LoginCard/styles.ts
Labels: feature, frontend, squad akamaru - perfil, draft

#147 Feature/lista de vagas/#137
  src/components/FeedVagas/JobDetails/index.tsx
  src/components/FeedVagas/JobDetails/styles.ts
  src/pages/FeedVagas.tsx
  src/pages/Home.tsx
  src/pages/styles/home.styles.ts
Labels: improvement, frontend, squad cereal killers - vagas

#149 Update do layout da tela de login- #130
  .github/pull_request_template.md
  src/assets/imgs/login-people.svg
  src/assets/imgs/verticalLine.svg
  src/components/styles/Button.styled.ts
  src/pages/Login.tsx
  src/pages/styles/Main.styled.ts
Labels: improvement, squad akamaru - perfil

#152 update: ProfileStatus created
  src/components/FeedVagas/FeedProfile/ActiveProfile.tsx
  src/components/FeedVagas/FeedProfile/styles.ts
  src/components/styles/Container.styled.ts
  src/pages/FeedVagas.tsx
  src/pages/styles/feedvagasStyles.ts
Labels: feature, improvement, frontend, squad cereal killers - vagas

#154 Feature/create job
  package.json
  src/@types/ibge.d.ts
  src/@types/styled.d.ts
  src/assets/imgs/SucessModal.svg
  src/components/AddJobs/FormSteps/StepOne.tsx
  src/components/AddJobs/FormSteps/StepThree.tsx
  src/components/AddJobs/FormSteps/StepTwo.tsx
  src/components/AddJobs/FormSteps/styles.ts
  src/components/AddJobs/JobModal/index.tsx
  src/components/AddJobs/JobModal/styles.ts
  src/components/CancelModal.tsx
  src/components/JobCard/index.tsx
  src/components/JobCard/previewJobCard.tsx
  src/components/JobCard/styles.ts
  src/components/PreviewModal.tsx
  src/components/WaitModal.tsx
  src/components/styles/Container.styled.ts
  src/components/styles/Theme.ts
  src/hooks/useApi.ts
  src/hooks/useIBGELocations.ts
  src/pages/Home.tsx
  src/pages/addJobs.tsx
  src/pages/styles/addJobsStyles.ts
  src/pages/styles/feedvagasStyles.ts
  src/routes/index.tsx
  src/validations/JobFormValidations/index.ts
  yarn.lock
Labels: feature, improvement, frontend, squad cereal killers - vagas
